:root {
  --primary_one: #00427f;
  --helper_color: #006cb2;
  --main-size: 2rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 0;
  padding-left: 0;
}

body {
  direction: rtl;
  background-color: #cfe4fe;
  font-size: var(--main-size);
  overflow-x: hidden;
}

section {
  margin: 0 1rem;
}

footer {
  background-color: white;
  /* position:fixed;
  width: 100vw;
  bottom: 10vh; */
}

.btn {
  border-radius: 0;
  padding: 0.5rem 1rem;
  background-color: var(--helper_color);
}
.col-bl {
  border-left: 2px solid #E0E0E0;
  background-color: white;
}

.col,
.col-1,
.col-2,
.col-md-3,
.col-md-9,
.col-4,
.col-5,
.col-6,
.col-9 {
  text-align: right;
  padding-right: 1.5rem;
  background-color: white;
}

.col-text-help {
  font-size: 1rem;
}
.col-first {
  background-color: var(--primary_one);
  color: white;
}

.icon-font-size {
  font-size: 1.5rem;
}

/* xs size */
@media (max-width: 576px) {
  .icon-font-size {
    font-size: 1rem;
  }

  .col,
  .col-1,
  .col-2,
  .col-md-3,
  .col-md-3,
  .col-md-6,
  .col-md-9,
  .col-xs-12,
  .col-4,
  .col-5,
  .col-6,
  .col-9 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.va-m {
  vertical-align: middle;
}
