:root {
  --primary_one: #00427F;
  --main-size: 2rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 0;
  padding-left:0;
}


body {
  direction: rtl;
  background-color: #CFE4FE;
  font-size: var(--main-size);
}
