html,
body,
#root {
  height: 100%;
}

.slide-back-enter,
.slide-enter {
  transition: transform 500ms ease-out;
}

.slide-back-exit,
.slide-exit {
  transition: transform 500ms ease-out;
  /* display: none;
  opacity: 0; */
}

 .slide-back-enter {
  transform: translateX(-100%);
}
.slide-enter {
  transform: translateX(100%);
} 

.slide-back-enter.slide-back-enter-active,
.slide-enter.slide-enter-active,
.slide-back-enter.slide-enter-active,
.slide-enter.slide-back-enter-active {
  transform: translateX(0%);
}

.slide-back-exit,
.slide-exit {
  position: absolute;
  top: 0;
  /* opacity: 0; */
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-back-exit-active {
  transform: translateX(100%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

/* .slide-enter.slide-back-enter-active + .slide-exit.slide-exit-active {
  transform: translateX(-100%);
}

.slide-back-enter.slide-enter-active + .slide-back-exit.slide-back-exit-active {
  transform: translateX(100%);
} */
